body { 
	padding-top: 70px; 
}

.panel-heading {
    padding: 0;
}

#img_panel_cours {
	width: 100%;
	vertical-align:middle;
}
#img_panel_futurs {
	width: 100%;
	vertical-align: middle;
}
#txt-panel-heading {
	margin-bottom: 50px;
}